html, body{
  margin: 0;
  padding: 0;
  color: #F8E5EE;
  width: 100vw;
  font-family: 'Abel', sans-serif;
  font-size: 1.1em;
  background-color: #211103;
}

#mainContainer{

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#chatContainer{
  width: 50%;
  height: 60vh;
  min-height: 400px;
  margin: 0 auto;

}

#chatWindow{
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

#chatInput{
  color: #F8E5EE;
  background-color: #3D1308;
  font-family: 'Abel', sans-serif;
  font-size: 1.1em;
  width: 99.2%;
  height: 30px;
  margin-top: 15px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.userMessage{
  background-color: #3D1308;
  max-width: 100%;
  margin: 0;
  padding: 5px;
}

.userMessage:nth-child(odd){
  background-color: #351117;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

::-webkit-input-placeholder {
   color: #5d1d0d;
}

:-moz-placeholder { /* Firefox 18- */
   color: #5d1d0d;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #5d1d0d;
}

:-ms-input-placeholder {
   color: #5d1d0d;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    body{
      font-size: 3em;
    }
    #chatContainer{
      width: 98%;
    }

    #chatInput{
      height: 90px;
    }
}
